{{define "body"}}
<h2>About</h2>
<hr style="margin-bottom: 0" />
<p style="text-align: center">
  "How we spend our days is, of course, how we spend our lives." - Annie Dillard
</p>
<hr />
<p>
  Days is a photo project that will begin in 2026 and continue for the full year
  in which I take at least one picture every day, and upload one to this site.
  The purpose of this is to:
</p>
<ol>
  <li>Encourage me to shoot more.</li>
  <li>Document daily life in its mundanity as well as its exceptionality.</li>
  <li>Push me to carry my camera more places.</li>
  <li>Learn about how my style changes and stays the same over time.</li>
  <li>
    Learn what of my gear I use the most, and what I don't use often and could
    part with.
  </li>
</ol>

<p>Rules:</p>
<ul>
  <li>
    <s>No new gear.</s>Well, that lasted until April. I sold my Sony for a Fuji
    X-Pro cause I hated looking at a screen after using my film camera.
  </li>
  <li>A mixture of film and digital.</li>
  <li>
    Can take as many pictures as I want each day, but only upload one. I
    <em>must</em> upload a photo taken that day, so if it is late and I don't
    have one something must be found.
  </li>
  <li>
    Photos <em>can</em> be uploaded late, but must have been taken the day they
    are uploaded for. There are times I may not be able to import, edit, and
    upload a photo same-day. In the case of film, it won't be uploaded until I
    can develop and scan the roll.
  </li>
  <li>
    Full color, I think. A part of this is to capture how this year felt, and I
    experienced it in color. If some B&W sneak in, that's okay, but as of now I
    imagine just full color.
  </li>
  <li>
    Pictures are chosen based on how well they represent the day,
    <em>not</em> how good they are as photos. If you want to only see the photos
    I think are technically decent (or at least, thought that at the time I
    uploaded them), go see
    <a href="https://flickr.com/photos/jlgre/">my Flickr</a>
  </li>
</ul>

{{end}}
