{{define "body"}}
<h2>About</h2>
<hr />
<p>
  Days is a photo project that will begin in 2026 and continue for the full year
  in which I take at least one picture every day, and upload one to this site.
  The purpose of this is to:
</p>
<ol>
  <li>Encourage me to shoot more.</li>
  <li>Document daily life in its mundanity as well as its exceptionality.</li>
  <li>Push me to carry my camera more places.</li>
  <li>Learn about how my style changes and stays the same over time.</li>
  <li>
    Learn what of my gear I use the most, and what I don't use often and could
    part with.
  </li>
</ol>

<p>Rules:</p>
<ul>
  <li>
    No new gear
    <ul>
      <li>Camera: Sony a7iv</li>
      <li>
        Lenses: Canon nFD 28mm f2.8 (Canon-FD mount), Zeiss Loxia 35mm f2
        (Native Sony-E mount)*, Voigtlander 50mm f1.5 Nokton ii (Leica M-Mount)
      </li>
      <li>
        iPhone 17 Pro - for the times where I can't/don't have my camera, RAWs
        make this much more usable. Likely will use the Halide app to turn off
        computational photography.
      </li>
    </ul>
  </li>
  <li>
    Can take as many pictures as I want each day, but only upload one. I
    <em>must</em> upload a photo taken that day, so if it is late and I don't
    have one something must be found.
  </li>
  <li>
    Photos <em>can</em> be uploaded late, but must have been taken the day they
    are uploaded for. There are times I may not be able to import, edit, and
    upload a photo same-day.
  </li>
  <li>
    Full color, I think. A part of this is to capture how this year felt, and I
    experienced it in color. If some B&W sneak in, that's okay, but as of now I
    imagine just full color.
  </li>
</ul>

<p class="asterisk">
  *This lens's aperture ring turns the opposite direction of the other two, so
  there's a chance I will trade it in for a different 35 that changes aperture
  in the same direction as the other two, if it proves to be too annoying. If I
  do replace it, it will likely be with the
  <a href="https://phillipreeve.net/blog/voigtlander-ultron-11-7-35-mm-review/"
    >Voigtlander 35mm 1.7 + plano convex 5.0m</a
  >. Though, I will try very hard to <em>not</em> buy this if I don't have to.
</p>
{{end}}
