{{define "body"}}
<h2>Days</h2>
<p style="text-align: center">
  A photo project by Luke Green - details <a href="/about">here</a>
</p>
<hr />
<div class="days">
  {{if not .}}
  <div
    style="
      display: flex;
      align-items: center;
      height: 60vh;
      justify-content: center;
    "
  >
    <p style="text-align: center; font-size: 3rem; font-weight: 200">
      Coming 2026
    </p>
  </div>
  {{end}}
  <div class="previews">
    {{ range . }}
    <a href="/days/{{.Date}}"
      ><img class="sm" src="/static/{{.PreviewPath}}"
    /></a>
    {{end}}
  </div>
</div>
{{end}}
